snippet ? "TODO"
**??**
endsnippet

snippet disot "ISO format datetime w/ timezone" w
`!v strftime("%FT%H:%M:%S%z")`
endsnippet

snippet hcard "h-card"
<span class="h-card"><a class="u-url" href="$1">$2</a></span>
endsnippet

snippet details "<details>"
<details>

<summary>$1</summary>

$2

</details>
$0
endsnippet

snippet private "<private-content />"
<private-content data-base64="$1"></private-content>$0
endsnippet
