[user]
	email = jamie@jamietanna.co.uk
	name = Jamie Tanna
[push]
	default = current
[core]
	excludesfile = /home/jamie/.gitignore_global
[diff]
	submodule = log
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
	insteadOf = https://gitlab.com/
[commit]
	verbose = true
[remote "origin"]
	fetch = +refs/environments/*:refs/remotes/origin/environments/*
