[user]
	email = jamie@jamietanna.co.uk
	name = Jamie Tanna
[push]
	default = simple
[core]
	excludesfile = /home/jamie/.gitignore_global
[url "ssh://git@gitlab.com/"]
	insteadOf = https://github.com/
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[commit]
	verbose = true
