XTerm*termName:xterm-256color
XTerm*faceName:Liberation Mono:style=Regular:size=12
! 115 = 92 * 1.25
! Xft.dpi: 115
Xft.dpi: 92

#include ".theme_colours.h"

! special
*.foreground:   				col_fg
*.background:   				col_bg
*.cursorColor:  				col_fg

! black
*.color0:	 					col_black
*.color8:	 					col_black_dark

! red
*.color1:						col_red
*.color9:						col_red_dark

! green
*.color2:   					col_green
*.color10:  					col_green_dark

! yellow
*.color3:  						col_yellow
*.color11: 						col_yellow_dark

! blue
*.color4: 						col_blue
*.color12:						col_blue_dark

! magenta
*.color5:  					 	col_magenta
*.color13: 					 	col_magenta_dark

! cyan
*.color6:  						col_cyan
*.color14: 						col_cyan_dark

! white
*.color7:						col_white
*.color15:						col_white_dark


rofi.font:       				LiberationMono 10
rofi.fuzzy:						true
rofi.terminal:   				xst
rofi.background: 				col_bg
rofi.foreground: 				col_fg
rofi.highlightbg: 				col_bg
rofi.highlightfg: 				col_focussed
rofi.bordercolor: 				col_bg
rofi.color-enabled:				true
rofi.separator-style:			solid

!					bg			fg					bgalt  		hlbg   			hlfg
rofi.color-normal:	col_bg, 	col_fg,				col_bg,		col_bg, 		col_magenta
rofi.color-urgent:	col_bg, 	col_red,			col_bg,		col_bg, 		col_red_dark
rofi.color-active:	col_bg, 	col_active,			col_bg,		col_bg, 		col_focussed
! 					bg			border				separator
rofi.color-window:	col_bg,		col_bg,				col_orange

#ifdef LOCAL_EXISTS
#include ".Xresources.local"
#endif

st.borderpx:    0
st.bold_font:   1
