XTerm*termName:xterm-256color
XTerm*faceName:Liberation Mono:style=Regular:size=12
! 115 = 92 * 1.25
! Xft.dpi: 115
Xft.dpi: 92

! Based off morhetz/gruvbox-contrib

#define col_bg                  #282828
#define col_fg                  #ebdbb2
#define col_black1              #282828
#define col_black2              #927374
#define col_red1                #cc241d
#define col_red2                #fb4934
#define col_green1              #98971a
#define col_green2              #b8bb26
#define col_yellow1             #d79921
#define col_yellow2             #fabd2f
#define col_blue1               #458588
#define col_blue2               #83a598
#define col_magenta1            #b16286
#define col_magenta2            #d3869b
#define col_cyan1               #689d6a
#define col_cyan2               #8ec07c
#define col_white1              #a89984
#define col_white2              #ebdbb2
#define col_white_true          #FFFFFF

#define col_black               col_black1
#define col_red                 col_red1
#define col_green               col_green1
#define col_yellow              col_yellow1
#define col_blue                col_blue1
#define col_magenta             col_magenta1
#define col_cyan                col_cyan1
#define col_white               col_white1

#define col_black_dark          col_black2
#define col_red_dark            col_red2
#define col_green_dark          col_green2
#define col_yellow_dark         col_yellow2
#define col_blue_dark           col_blue2
#define col_magenta_dark        col_magenta2
#define col_cyan_dark           col_cyan2
#define col_white_dark          col_white2

! special
*.foreground:   				col_fg
*.background:   				col_bg
*.cursorColor:  				col_fg

! black
*.color0:	 					col_black
*.color8:	 					col_black_dark

! red
*.color1:						col_red
*.color9:						col_red_dark

! green
*.color2:   					col_green
*.color10:  					col_green_dark

! yellow
*.color3:  						col_yellow
*.color11: 						col_yellow_dark

! blue
*.color4: 						col_blue
*.color12:						col_blue_dark

! magenta
*.color5:  					 	col_magenta
*.color13: 					 	col_magenta_dark

! cyan
*.color6:  						col_cyan
*.color14: 						col_cyan_dark

! white
*.color7:						col_white
*.color15:						col_white_dark


rofi.font:       				LiberationMono 10
rofi.terminal:   				xterm
rofi.background: 				col_bg
rofi.foreground: 				col_fg
rofi.highlightbg: 				col_cyan
rofi.highlightfg: 				col_fg
rofi.bordercolor: 				col_white
rofi.color-enabled:				true

rofi.color-normal: 				col_cyan,col_bg,col_cyan_dark,col_blue_dark,col_bg
rofi.color-urgent: 				col_yellow_dark,col_white_true,col_yellow_dark,col_green_dark,col_white_true
rofi.color-active: 				col_red_dark,col_fg,col_red_dark,col_red,col_fg
rofi.color-window: 				col_cyan,col_white
